body{margin:O;
font-family:Arial,sans-serif;
background-color:#ebebf2;
}
header{background-color:#OO3366;
color:white;
padding:15px;
display:flex;
align-items:center;
}
.logo img{
    width:60px;
}
nav ul{list-style:O;
padding:O;
}
nav ul li{
    margin-left:20px;
}
nav ul li a{color:rgb(49, 59, 137);
text-decoration:none;
font-weight:bold;
}
section img{padding:30px;
background-color: white ;
margin:20px;
border-radius:5px;
}
section img {
    width: 200px;
    margin-top: 15px;
}
h1,h2{
    color:#003366;